#time {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 20px 20px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
}

h1 {
    display: flex;
    justify-content: center;
}

#startBtn {
    background-color: dimgrey;
    color:white;
}

#pause {
    background-color: dimgrey;
    color:white;
}

#reset {
    background-color: red;
    color:white;
}

button:hover {
    opacity: 0.7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: serif;
    margin: 0;
    height:100vh;
}

.stopWatchShape {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 30px rgba(0,0,0, 0.4);
    border: 2px solid bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.stopWatchShape::before {
    content: "";
    width: 50px;
    background: #444;
    height: 20px;
    position: absolute;
    top: -20px;
}

.stopWatchShape::after {
    content: "";
    width: 15px;
    height: 30px;
    background: #888;
}