img {
    display:block;
    margin:0 auto;
    text-align: center;
    width:600px;
}

h1 {
    text-align: center;
    color:rgb(226, 144, 43)
}

h2{
    text-align:center;
    font-style:italic;
}

#link_pre_next {
    text-align: center;
}