body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 15, 1, 0);
    width: 300px;
    text-align: center;
    background-color: bisque;
}

h2 {
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
    color: saddlebrown;
    margin-bottom: 30px;
}

input {
    width: 210px;
    padding: 15px;
    margin: 8px 0;
    border: 2px solid rgba(234, 215, 5, 0.716);
    border-radius:8px;
}

button {
    width:100px;
    padding: 15px;
    background-color: black;
    color:white;
    margin-top:10px;
}