* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', serif;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #74ebd5, #acb6e5);
}

form{
    background-color: rgba(255, 255, 255, 0.95);
    padding: 80px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0, 0.2);
    width: 400px;
    text-align: center;
    height: 400px;
}

label {
    font-size: 28px;
    font-weight: 600;
    color: #dcb6e5;
    display: block;
    text-align: center;
}
input {
    width: 80%;
    padding: 10px;
    border: 2px solid #acb6e5
}

button {
    margin-top:20px;
}

