* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
}

body { 
    display:flex;;
    font-family: 'Jost', serif;
    background: linear-gradient();
    height:100vh;
    justify-content: center;
    align-items: center;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2px 0;
}

input{
    display:block;
    padding: 4px;
    
}
label{
    display: block;
    text-align: center;
    background-color: wheat;
    font-weight: 300px;
    line-height: 1.5;
}

button {
    width:100%;
    padding: 5px;
    background-color: #6a85b6;

}