h1 {
    color:rgb(165, 42, 116);
}
h2 {
    color:rgb(255, 196, 0)
}
h3 {
    color:rgb(255, 149, 0)

}

th ,td {
    font-weight: bold;
    text-align: center;
    width: 14%;
}
#calendar{
    border:1px solid black;
    border-collapse: collapse;
    width:100%; 
    height:300px;
}

th, td {
    border:1px solid black;
}

.title {
    text-align:center;
}
.table {
    background-color: rosybrown;
}
#tablefirst{
    background-color: antiquewhite;
}
#calendar th:first-child,
#calendar td:first-child {
    color:red
}
#calendar th:last-child,
#calendar td:last-child {
    color:blue
}
#tablered {
    color:red;
}
#tableblue{
    color:blue;
}

.link_pre_next{
    text-align: center;
}
