body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}

h1 {
    color: palevioletred;
}

.item {
    margin-bottom: 15px;
}

.form-container {
    width: 400px;
    padding: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.input {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    
}

.input input {
    width: 200px;
    border: 2px solid sienna;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.input input:hover {
    border-color: red;
}
.category {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    font-weight: bold;
    color: sienna;
}
